apps/backend/.env
apps/backend/venv
apps/backend/__pycache__/
apps/web/node_modules/
apps/web/.next/
apps/web/.env.local
*.pyc
*.json
KeyGet.py
test_ai.py
testing.py
APIREQUESTSENTINEL.py
GeminiReport.py
